.vacancy {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1636px;
  background-color: white;
  border-radius: 8px;
  padding: 21px 24px 21px 0px;
  margin-bottom: 16px;
}

.main_checkbox {
  width: 16px;
  height: 16px;
  margin: 8px;
  background: var(--main-background-color);
}

.vacancy_title {
  display: flex;
}

.vacancy_title__description {
  width: 285px;
  margin-left: 12px;
  padding-right: 20px;
}

.vacancy_title__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.vacancy_title__customer_name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.vacancy_recruter {
  width: 150px;
}

.vacancy_recruter__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.vacancy_created,
.vacancy_deadline {
  width: 80px;
  text-align: center;
  margin-right: 20px;
}

.vacancy_created__date,
.vacancy_deadline__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.vacancy_status {
  width: 120px;
  margin-right: 10px;
}

.vacancy_status__default {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 120px;
  border-radius: 10px;
  padding: 4px 30px;
}

.vacancy_status__active {
  background-color: #edf2ff;
  color: var(--main-color);
}

.vacancy_status__paused {
  background-color: #fcf0ca;
  color: #d0a130;
}

.vacancy_status__draft {
  background-color: #f5f6f9;
  color: #767a7f;
}

.vacancy_status__closed {
  background-color: #eaf7eb;
  color: #5cba61;
}

.vacancy_responses {
  width: 70px;
  text-align: center;
}

.vacancy_responses__quantity {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
}

.vacancy_buttons {
  display: flex;
  margin-left: 15px;
}

.vacancy_edit_btn {
  background-image: url('/imgs/vacancies/edit.svg');
  background-repeat: no-repeat;
  width: 40px;
  margin-right: 12px;
}

.vacancy_main_btn {
  height: 36px;
  background-color: var(--main-color);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px;
  margin-left: auto;
}

.vacancy_main_btn:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.vacancy_main_btn:hover:not(.vacancy_main_btn:disabled) {
  color: var(--font-color);
}
