/* sidebar */
.sidebar_container {
  width: 394px;
  max-height: 100%;
  border-radius: 10px;
  background-color: #fff;
  padding: 12px;
  overflow: auto;
}

.sidebar_item {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #595d62;
  border-radius: 12px;
  padding: 12px 8px 12px 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.sidebar_item:last-child {
  opacity: 30%;
  pointer-events: none;
}

.sidebar_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #595d62;
  margin-top: 4px;
}

.sidebar_item_active {
  background-color: var(--disable-color);
  background-image: url('/imgs/select-sidebar/edit-arrow.svg');
  background-repeat: no-repeat;
  color: black;
  background-position: right center;
}

.sidebar_description_active {
  color: black;
}

/* edit pages */
.main {
  width: 100%;
  background-color: #fff;
  margin-left: 394px;
  border-radius: 16px;
  height: calc(100vh - 110px);
  padding: 40px 80px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

/* share page */
.share_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share_heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.share_container {
  width: 30%;
  display: flex;
  align-items: end;
}

.share_input {
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(var(--accent-color), 0.05) inset;
  padding: 5px;
  padding-left: 10px;
}

.share_btn {
  width: 35px;
  height: 35px;
  padding-right: 45px;
  cursor: pointer;
  background-image: url('/imgs/icons/share.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-image 0.2s ease-in-out;
}

.share_btn:hover {
  background-image: url('/imgs/icons/share_hover.svg');
}
