.container {
  position: absolute;
  top: 0;
  left: 260px;
  width: calc(100% - 260px);
  max-width: 1636px;
  background: var(--main-background-color);
  padding: 20px 20px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.breadcrumbs ol {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.breadcrumbs ol li {
  display: flex;
  align-items: center;
}

.header_input_container {
  display: flex;
  align-items: center;
}

.header_input {
  width: 256px;
  height: 40px;
  border: 1px solid rgb(206, 200, 200);
  border-radius: 8px;
  padding: 8px;
  margin-right: 12px;
}

.header_input::placeholder {
  background-image: url('/imgs/vacancies/search.svg');
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 40px;
}

.header_input_button {
  width: 40px;
  height: 40px;
  background-image: url('/imgs/vacancies/i.svg');
  background-color: var(--main-background-color);
}

.text_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  margin-right: 12px;
}

.header_btn_save {
  background-color: var(--main-color);
  color: white;
  padding: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  border-radius: 10px;
}

.selectSidebar_container {
  display: flex;
  max-height: calc(100vh - 135px);
}

.form {
  position: relative;
  width: calc(100% - 352px);
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  padding: 40px 60px 0px 60px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}

.btn_prev,
.btn_next {
  position: absolute;
  background-color: #eceef4;
  color: var(--main-color);
  padding: 8px;
}

.btn_prev {
  bottom: 30px;
  left: 432px;
}

.btn_next {
  bottom: 30px;
  right: 80px;
}

.btn_display_none {
  display: none;
}

/* share page */
.share_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share_heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.share_container {
  width: 30%;
  display: flex;
  align-items: end;
}

.share_input {
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(var(--accent-color), 0.05) inset;
  padding: 5px;
  padding-left: 10px;
}

.share_btn {
  width: 35px;
  height: 35px;
  padding-right: 45px;
  cursor: pointer;
  background-image: url('/imgs/icons/share.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-image 0.2s ease-in-out;
}

.share_btn:hover {
  background-image: url('/imgs/icons/share_hover.svg');
}
