.container {
  position: absolute;
  top: 0;
  left: 240px;
  /* width: calc(100%-240px); */
  /* width: 100%; */
  max-width: 1636px;
  background: var(--main-background-color);
  padding-top: 20px;
  padding-left: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.breadcrumbs ol {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.breadcrumbs ol li {
  display: flex;
  align-items: center;
}

.input_container {
  display: flex;
  justify-items: center;
  margin-bottom: 8px;
}

.input {
  width: 256px;
  height: 40px;
  border: 1px solid rgb(206, 200, 200);
  border-radius: 8px;
  padding: 8px;
  margin-right: 12px;
}

.input::placeholder {
  background-image: url('/imgs/vacancies/search.svg');
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 40px;
}

.input_button {
  width: 40px;
  height: 40px;
  background-image: url('/imgs/vacancies/i.svg');
  background-color: var(--main-background-color);
}

.text_container {
  display: flex;
  margin-bottom: 24px;
}

.h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  margin-right: 12px;
}

.qty {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #767a7f;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 24px;
}

.chips {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chip {
  display: flex;
  align-items: center;
  text-align: center;
  height: 36px;
  border-radius: 10px;
  background-color: var(--main-background-color);
  padding-inline: 16px;
  cursor: pointer;
}

.chip_active {
  background-color: var(--main-color);
  color: white;
}

.chip_disable {
  opacity: 50%;
  cursor: not-allowed;
}

.actions {
  display: flex;
}

.action {
  width: 40px;
  height: 40px;
  background-color: var(--main-background-color);
  margin-right: 12px;
}

.action_sort {
  background-image: url('/imgs/vacancies/action_1.svg');
}
.action_filter {
  background-image: url('/imgs/vacancies/action_2.svg');
}
.action_add {
  background-image: url('/imgs/vacancies/action_3.svg');
}
.action_settings {
  background-image: url('/imgs/vacancies/action_4.svg');
}

.main {
  padding: 12px 8px;
}

.main_top {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1636px;
  margin-bottom: 16px;
}

/* общие стили для всех заголовков */
.main_top > span,
.owner_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #767a7f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.owner {
  display: flex;
  margin-right: 9.2vw;
  width: 210px;
}

.owner_title {
  margin-left: 6px;
}

.main_checkbox {
  flex: 0 0 40px;
  width: 16px;
  height: 16px;
  margin-block: auto;
  background: var(--main-background-color);
}

.recruter {
  min-width: 100px;
  margin-right: 3vw;
}

.created,
.deadline {
  min-width: 80px;
  margin-right: 2vw;
  text-align: center;
}

.deadline {
  margin-right: 1.5vw;
}

.status {
  min-width: 120px;
  text-align: center;
}

.responses {
  min-width: 70px;
  text-align: center;
}

.create_vacancy_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty_container__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.empty_container__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.empty_container__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.empty_container__btn {
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--main-color);
  padding: 8px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -13px;
  margin-bottom: 18px;
  padding-inline: 8px;
}

.previous_page,
.next_page {
  width: 32px;
  height: 32px;
  background-color: #eceef4;
}

.page_number {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.page_number:hover {
  color: black;
}

.page_number__active {
  background-color: var(--main-color);
  color: white;
}

/* адаптация для средних экранов */
/* @media (min-width: 721px) and (max-width: 1350px) {
  .owner {
    flex-basis: 220px;
  }

  .recruter {
    flex-basis: 90px;
  }
} */

/* адаптация для мобильных */
@media (max-width: 720px) {
  .main_top {
    flex-wrap: wrap;
    padding-right: 12px;
    display: none; /* Скрываем заголовки на мобильных */
  }
}

/* 
@media screen and (max-width: 1720px) {
  .main:not(.main_small) {
    margin-left: 227px;
  }
} */
