.user {
   display: flex;
   align-items: center;
   border-radius: 8px;
   padding: 8px;
}

.user:hover {
   background: rgb(236, 237, 240);
}

.user_popup:hover {
   background-color: white;
}

.user_active,
.user_active:hover {
   background-color: var(--main-color);
}

.list_arrow {
   position: absolute;
   right: 0;
   width: 24px;
   height: 24px;
   background-image: url('/imgs/sidebar/user-arrow.svg');
}

.user:hover .list_arrow {
   background-image: url('/imgs/sidebar/user-arrow-hover.svg');
}

.user_active .list_arrow,
.user_active:hover .list_arrow {
   background-image: url('/imgs/sidebar/user-arrow-active.svg');
}

.user_active .user_name,
.user_active .user_email {
   color: #fff;
}

.user_pic {
   width: 48px;
   height: 48px;
   margin-right: 12px;
}

.user_name {
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   color: var(--primary-text);
   margin-bottom: 5px;
}

.user_email {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: var(--primary-text);
   text-overflow: ellipsis;
}

@media screen and (max-width: 1680px) {
   .user_email:not(.popup) {
      width: 88px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }
}
