.heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text);
  margin-bottom: 32px;
}

.input_container {
  position: relative;
  display: flex;
  gap: 1vw;
  width: 100%;
  margin-bottom: 24px;
}

.input_container:last-child {
  margin-top: -8px;
}

.input_vacancy_name {
  width: 75%;
}
.input_vacancy_qty {
  width: 25%;
}

.input_label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.input_text,
.input_textarea {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  border: 1px solid #e2e5ee;
  border-radius: 8px;
  padding: 16px;
}

.input_textarea {
  resize: vertical;
  margin-bottom: 24px;
}

.input_text::placeholder,
.input_textarea::placeholder {
  color: var(--secondary-text);
}

.input_text:active,
.input_textarea:active {
  border-color: var(--main-color);
}

.select_status {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  border: 1px solid #e2e5ee;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  cursor: pointer;
}

.notice_container {
  width: 100%;
  background-image: url('/imgs/create-vacancy/warning.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: #fcf0ca;
  border-radius: 8px;
  padding: 14px;
  padding-left: 52px;
  margin-top: 10px;
}
.notice_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #9e7a24;
}

.customer {
  display: block;
  margin-bottom: 24px;
}

.input_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}

.customer_name,
.customer_tel,
.country,
.city,
.format,
.employment {
  width: 50%;
}

.company,
.schedule {
  display: block;
  margin-bottom: 32px;
}

.container_color {
  display: flex;
}

.input_text_color {
  display: inline-block;
  width: 90%;
  margin-right: 20px;
  padding: 8px;
}

.input_color {
  cursor: pointer;
  padding: 8px;
  display: inline-block;
  width: calc(10% - 20px);
  height: 56px;
  border-radius: 6px;
  border: 1px solid rgba(117, 137, 177, 0.2);
  background: rgba(117, 137, 177, 0.05);
}

.container_color {
  display: flex;
}

.input_text_color {
  display: inline-block;
  width: 90%;
  margin-right: 20px;
  padding: 8px;
}

.inputs_container {
  display: flex;
  justify-content: space-between;
}

.input_container_date {
  width: calc((100% - 32px) / 2);
}

.input_label_date {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 4px;
}

.input_date {
  display: block;
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid rgb(226, 227, 230);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.err {
  color: #ea7f8b;
  font-size: 14px;
  line-height: 130%;
}

/* segments */
.segment_container {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 12px;
  background-color: #f6f7fa;
  position: relative;
}

.segment_heading {
  text-transform: capitalize;
  color: #2e3192;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12px;
}

.segment_subheading {
  margin-bottom: 20px;
  color: #7d7f84;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.segment_question_heading,
.segment_mock_radio,
.segment_input,
.segment_add_option {
  border-radius: 8px;
  background: rgba(0, 78, 168, 0.05);
}

.segment_question_heading {
  padding: 16px 20px;
  margin-bottom: 20px;
  color: #2e2e2e;
  font-size: 18px;
  line-height: 130%;
}

.segment_option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.segment_mock_radio {
  margin-right: 2px;
  width: 58px;
  height: 48px;
  background-image: url('/imgs/icons/radio-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.segment_close_btn {
  width: 24px;
  height: 24px;
  background-image: url('/imgs/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.segment_input {
  height: 48px;
  margin-right: 8px;
  width: calc(100% - 92px);
  padding: 16px 20px;
  font-size: 18px;
  line-height: 130%;
}

.segment_add_option {
  width: calc(100% - 60px);
  height: 48px;
  padding: 12px 20px;
  color: #7d7f84;
  font-size: 18px;
  line-height: 130%;
}
