.heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text);
  margin-bottom: 32px;
}

.input_container {
  position: relative;
  display: flex;
  gap: 1vw;
  width: 100%;
  margin-bottom: 24px;
}

.input_container:last-child {
  margin-top: -8px;
}

.input_vacancy_name {
  width: 75%;
}
.input_vacancy_qty {
  width: 25%;
}

.input_label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.input_text,
.input_textarea {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  border: 1px solid #e2e5ee;
  border-radius: 8px;
  padding: 16px;
}

.input_textarea {
  resize: vertical;
  margin-bottom: 24px;
}

.input_text::placeholder,
.input_textarea::placeholder {
  color: var(--secondary-text);
}

.input_text:active,
.input_textarea:active {
  border-color: var(--main-color);
}

.select_status {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  border: 1px solid #e2e5ee;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  cursor: pointer;
}

.notice_container {
  width: 100%;
  background-image: url('/imgs/create-vacancy/warning.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: #fcf0ca;
  border-radius: 8px;
  padding: 14px;
  padding-left: 52px;
  margin-top: 10px;
}
.notice_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #9e7a24;
}

.customer {
  display: block;
  margin-bottom: 24px;
}

.input_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}

.customer_name,
.customer_tel,
.country,
.city,
.format,
.employment,
.salary,
.customer_telegam,
.customer_whatsapp {
  width: 50%;
}

.company,
.schedule {
  display: block;
  margin-bottom: 32px;
}
