/* main + form */

* {
  color: #2e2e2e;
  font-family: 'Manrope', sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  opacity: 0.3;
  background: var(--survey-color-full);
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.main {
  margin: 36px auto;
  max-width: 896px;
  width: 100%;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

.description {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--survey-color-full);
}

.form {
  margin-top: 60px;
  margin-bottom: 120px;
}

.form_list {
  counter-reset: counter;
}

.form_item {
  margin-bottom: 60px;
  counter-increment: counter;
  position: relative;
}

.form_item::before {
  content: counter(counter) '. ';
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

/* btn */

.btn {
  background: var(--survey-color-full);
  text-align: center;
  margin-bottom: 12px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  padding: 12px 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
}

.btn:disabled {
  cursor: auto;
  background: rgba(var(--survey-color), 0.5);
}

.btn_text {
  color: #7d7f84;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

/* required */

.required_container {
  display: flex;
  justify-content: center;
  position: relative;
}

.required {
  width: 167px;
  color: var(--survey-color-full);
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgba(var(--survey-color), 0.2);
  position: absolute;
  top: 0;
  right: 0;
}

/* inactive */

.inactive_header {
  width: 100%;
  height: 80px;
  background-color: #004ea8;
}

.inactive_main {
  height: calc(100vh - 80px);
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inactive_img {
  width: 360px;
  height: 360px;
  margin-bottom: 36px;
}

.inactive_heading {
  margin-bottom: 12px;
  color: #2e2e2e;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

.inactive_text {
  color: #2e2e2e;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

/* adaptive styles */

@media only screen and (max-width: 920px) {
  .main {
    max-width: 688px;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    max-width: 500px;
    width: 100%;
  }
}

@media only screen and (max-width: 541px) {
  .main {
    max-width: 320px;
    width: 100%;
  }

  .required {
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
