.pass_container {
   position: relative;
   display: flex;
   align-items: center;
}

.input_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   margin-bottom: 20px;
   padding: 16px;
   border: 1px solid #e2e3e6;
   border-radius: 8px;
   background: #fff;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 40px;
}

.show_pass_btn {
   position: absolute;
   top: 18px;
   right: 18px;

   width: 24px;
   height: 24px;
   background-image: url('imgs/components/password-eye.svg');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
}
