/* toggle */

.toggle_container {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.toggle_input {
  opacity: 0;
  position: absolute;
}

.toggle_label {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle_label::before {
  margin-right: 0.25px;
  content: '';
  width: 52px;
  height: 24px;
  background-color: rgba(0, 78, 168, 0.3);
  border-radius: 1em;
  transition: 200ms ease-in-out;
}

.toggle_label::after {
  position: absolute;
  left: 3px;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 1em;
  transition: 200ms ease-in-out;
}

.toggle_input:checked + .toggle_label::after {
  transform: translateX(26px);
}

.toggle_input:checked + .toggle_label::before {
  background-color: #004ea8;
}

.toggle_input:checked + .toggle_label::before {
  background-color: #004ea8;
}
/* select */

.select_container {
  width: 321px;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 20px;
  color: #7d7f84;
  font-size: 18px;
  line-height: 130%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  outline: none;
}

.select_value {
  flex-grow: 1;
}

.select_caret {
  background-image: url('/imgs/icons/select-arrow.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.select_options {
  /* display: none; */
  position: absolute;
  max-height: 336px;
  overflow-y: auto;
  border-radius: 8px;
  width: 100%;
  left: 0;
  top: calc(100% + 4px);
  background-color: #fff;
  z-index: 100;
}

.select_options.show {
  display: block;
}

.select_option {
  border-bottom: 2px solid rgba(var(--cloveri-color), 0.15);
}

.select_option {
  cursor: pointer;
  padding: 16px 20px;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 150%;
}

/* btn */

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px 32px;
  border-radius: 6px;
  color: #fff;
  background-color: #004ea8;
}

.btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), #004ea8;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #004ea8;
}

.btn:disabled {
  opacity: 0.5;
}

/* loading */

.loading_container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading_svg {
  width: 80px;
  height: 80px;
  background-image: url('/imgs/icons/loading-gray.svg');
}

.loading_text {
  margin-top: 24px;
  color: #2e2e2e;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
